<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAPI Suite" parallel="tests" thread-count="5">
    <parameter name="postId" value="1"></parameter>
    <test verbose="2" name="Testing REST API tests">
        <!--<groups>-->
            <!--<run>-->
                <!-- <include name="response123"/> -->
                <!--<include name="P.*"/> -->
                <!--<include name="PUT.*"/>-->
                <!--<include name="Photos"/>-->
                <!--<include name="text"/>-->
                <!--<include name="localhost"/>-->
                <!--<include name="localhost44"/>-->
                <!--<include name="parametrized"/>-->
            <!--</run>-->
        <!--</groups>-->
        <classes>
            <class name="tests.rest.RestPostsTests"/>
            <class name="tests.rest.RestPhotosTests"/>
        </classes>

    </test>
</suite>